<ion-header>
    <ion-navbar class="black-bg">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Trips</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <ion-segment [(ngModel)]="Trips">
            <ion-segment-button value="Past">
                Past
            </ion-segment-button>
            <ion-segment-button value="Upcoming">
                Upcoming
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="Trips">
        <ion-list *ngSwitchCase="'Past'">
            <ion-item *ngFor="let ride of rides; let i = index" [attr.data-index]="i" (click)="goToRideDetailFromPast(i)">
                <ion-row>
                    <div class=" mapImage ">
                        <img src="{{this.staticMapArray[i]}} " />
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <label class="date ">{{ride.travelDate | date: 'MM/dd/yyyy'}}</label>
                        <label class="at ">at</label>
                        <label class="time ">{{ride.travelDate | date: 'HH:mm'}}</label>
                    </ion-col>
                    <ion-col col-3>
                        <label class="rs ">$ {{ride.fareValue}}</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-8>
                        <label class="car ">{{ride.taxiName}}</label>
                    </ion-col>
                    <ion-col col-4></ion-col>
                </ion-row>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase=" 'Upcoming' ">
            <ion-item *ngFor="let ride of upcomingRides; let i = index" [attr.data-index]="i" (click)="goToRideDetailFromUpcoming(i)">

                <ion-row>
                    <ion-col col-9>
                        <label class="date ">{{ride.travelDate | date: 'MM/dd/yyyy'}}</label>
                        <label class="at ">at</label>
                        <label class="time ">{{ride.travelDate | date: 'HH:mm'}}</label>
                    </ion-col>
                    <ion-col col-3>
                        <label class="rs ">$ {{ride.fareValue}}</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-8>
                        <label class="car ">Your trip with {{ride.driverName}}</label>
                    </ion-col>
                    <ion-col col-4>

                    </ion-col>

                </ion-row>
            </ion-item>
        </ion-list>
    </div>
</ion-content>