page-password {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #000000 !important;
    }

    .error {
        font-size: 12px;
        color: tomato;
        margin-bottom: 0;
    
    }
}
