<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="login" (ngSubmit)="logForm()">
        <ion-grid>
            <br>
            <br>
            <ion-row>

                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div *ngIf="login?.controls['email']?.errors?.required && login?.controls['email'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>

            <ion-row>

                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div *ngIf="login?.controls['password']?.errors?.required && login?.controls['password'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>



        </ion-grid>

        <ion-footer>
            <!-- [disabled]="!register.valid" -->
            <div float-start>
                <button (click)="forgotPassword()" ion-button clear block class="btn-text-left" no-margin type="button">I forgot my Password</button>
            </div>

            <ion-fab right bottom margin-right>
                <button ion-fab color="dark" type="submit">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-fab>
        </ion-footer>

    </form>



</ion-content>