page-welcome {
    .big-field {
        //  background: tomato;
        height: 80px;
        font-size: 18pt;
        padding-top: 14px;
    }
    #code91 {
        //  color: tomato;
        font-size: 14pt;
        padding-top: 25px;
        padding-left: 0.4em;
    }
    .btn-text-left {
        justify-content: flex-start !important;
    }
    .full-img {
        display: block;
        margin: 0 auto;
        height: 200px;
        margin-top: 30px;
    }
    .big-field {
        //  background: tomato;
        height: 80px;
        font-size: 18pt;
        padding-top: 14px;
    }
    .facebook-sign-in {
        border-radius: 4px;
        font-weight: 500;
        color: $auth-small-btn-color;
        background-color: $facebook-blue;
        border-color: darken($facebook-blue, 2);
    }
    .google-sign-in {
        border-radius: 4px;
        font-weight: 500;
        color: $google-red;
        background-color: $auth-big-btn-bg;
        border-color: darken($auth-big-btn-bg, 2);
    }

    .error {
        font-size: 12px;
        color: tomato;
        margin-bottom: 0;
    
    }
}