<ion-header>
    <ion-navbar class="black-bg">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>DashBoard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input (click)="showAddressModal()" [(ngModel)]="currentAddress" type="text" placeholder="Pickup" disabled></ion-input>
    </ion-item>
    <ion-item>
        <ion-input (click)="showAddressModal()" [(ngModel)]="destinationAddress" type="text" placeholder="Where to Drop?" disabled></ion-input>
    </ion-item>
    <div #map id="map" class="maparea">

    </div>

    <div class="bottom request-controls" *ngIf="bottomSheet">
        <ion-row align-items-center>
            <ion-col width-45>
                <ion-label class="dash_bottom_label">Fare</ion-label>
                <ion-label class="map-label-fare"><span>$</span>{{fareValue}}</ion-label>
            </ion-col>
            <ion-col width-10 class="dotted_line"></ion-col>
            <ion-col width-45>
                <ion-label class="dash_bottom_label">Distance</ion-label>
                <ion-label class="map-label">{{distance}} Miles</ion-label>
                <ion-label class="dash_bottom_label">Time</ion-label>
                <ion-label class="map-label">{{timeTillArrival}} Mins</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-50>
                <button ion-button block primary class="map-button-text" (click)="rideNow()">Ride Now</button>
            </ion-col>
            <ion-col width-50>
                <button ion-button block secondary (click)="rideLater()">Ride Later</button>
            </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="cancel">
            <ion-col width-100>
                <button ion-button (click)="cancelRide()">Cancel Ride</button>
            </ion-col>
        </ion-row> -->
    </div>
</ion-content>