page-rideconfirm {
    .upcoming {
        font-size: 1.8em;
    }
    .destination {
        font-size: 1.2em;
    }
    .fare {
        font-weight: bold;
        font-size: 2em;
        color: rgba(0, 0, 255, 0.644);
        margin: 20px 0 20px 0;
        text-align: center;
    }
    .date {
        font-size: 1em;
        color: #545353
    }
    .note {
        color: #999;
    }
    .rideBtn {
        bottom: 0px;
        position: fixed;
    }
    .distance{
        font-style: italic;
        font-size: 1.2em;
        text-align: center;
    }
}