page-rideconfirm {
    .upcoming {
        font-size: 1.8em;
    }
    .destination {
        font-size: 1.2em;
    }
    .fare {
        font-size: 1.2em;
    }
    .date {
        font-size: 1em;
        color: #545353
    }
    .note {
        color: #999;
    }
}