<!--
  Generated template for the VehicledetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Vehicle detail</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    <form [formGroup]="vehicle" (ngSubmit)="logForm()">
        <ion-grid>
            <ion-row>
                
                    <ion-item>
                        <ion-label floating>Make</ion-label>
                        <ion-input type="text" formControlName="make"></ion-input>
                    </ion-item>
                    <div *ngIf="vehicle?.controls['make']?.errors?.required && vehicle?.controls['make'].touched">
                        <p float-right class="error">* This Field is required</p>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Model</ion-label>
                        <ion-input type="text" formControlName="model"></ion-input>
                    </ion-item>
                    <div *ngIf="vehicle?.controls['model']?.errors?.required && vehicle?.controls['model'].touched">
                        <p class="error" float-right>* This Field is required</p>
                    </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label floating>Year</ion-label>
                    <ion-input type="text" formControlName="year" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['year']?.errors?.required && vehicle?.controls['year'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label floating>Reg No</ion-label>
                    <ion-input type="text" formControlName="regno" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['regno']?.errors?.required && vehicle?.controls['regno'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>

            <ion-row>
                <ion-item>
                    <ion-label floating>UIN Number</ion-label>
                    <ion-input type="text" formControlName="uinnumber" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['uinnumber']?.errors?.required && vehicle?.controls['uinnumber'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>

         
          
         

          

        </ion-grid>

        <ion-footer>
            <!-- [disabled]="!register.valid" -->

            <ion-fab right bottom margin-right>
                <button ion-fab color="dark" type="submit"><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-fab>
        </ion-footer>

        <!--  -->
    </form>


</ion-content>
