<ion-header>
    <ion-navbar class="black-bg">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Edit Account</ion-title>
        <!-- <ion-buttons end>
            <button ion-button clear (click)="navigateToMaps()">Done</button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <ion-avatar>
                    <img src="{{this.imageSrc}}" class="round-img" (click)="launchPicOptions(0)">
                </ion-avatar>
            </ion-col>
            <ion-col col-8>
            </ion-col>
        </ion-row>
    </ion-grid>

    <form [formGroup]="vehicle" (ngSubmit)="logForm()">
        <ion-grid>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Name</ion-label>
                    <ion-label>{{this.name}}</ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Mobile</ion-label>
                    <ion-label>{{this.mobile}}</ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-label>{{this.email}}</ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Make</ion-label>
                    <ion-input type="text" formControlName="make"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['make']?.errors?.required && vehicle?.controls['make'].touched">
                    <p float-right class="error">* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Model</ion-label>
                    <ion-input type="text" formControlName="model"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['model']?.errors?.required && vehicle?.controls['model'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Year</ion-label>
                    <ion-input type="text" formControlName="year" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['year']?.errors?.required && vehicle?.controls['year'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>Reg No</ion-label>
                    <ion-input type="text" formControlName="regno" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['regno']?.errors?.required && vehicle?.controls['regno'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label stacked>UIN Number</ion-label>
                    <ion-input type="text" formControlName="uinnumber" style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="vehicle?.controls['uinnumber']?.errors?.required && vehicle?.controls['uinnumber'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>
                <ion-col width-50>
                    <ion-label>Vehicle Image</ion-label>
                </ion-col>
                <ion-col width-50>
                    <img class="vehicle-img" src="{{this.vehicleSrc}}" (click)="launchPicOptions(1)" />
                </ion-col>
            </ion-row>
            <ion-row>
                <button ion-button clear type="submit">Done</button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>