page-edit-account {
    .black-bg {
        background: #000000;
    }
    .bottom-shadow {
        border-bottom: 1px solid #e2e2e2;
        box-shadow: 0 3px 9px -6px black;
    }
    .text-input::-moz-placeholder {
        color: red;
    }
    .text-input:-ms-input-placeholder {
        color: red;
    }
    .text-input::-webkit-input-placeholder {
        color: red;
    }
    .error {
        color: tomato;
        font-size: 1.2rem;
    }
    .round-img {
        width: 80px;
        height: 80px;
        border-radius: 30%;
    }
    .vehicle-img {
        width: 80px;
        height: 80px;
        border-radius: 30%;
    }
    .item-inner {
        border: 0 !important;
    }
    .carButton {
        font-size: 2em !important;
    }
}