<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="register" (ngSubmit)="logForm()">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>First Name</ion-label>
                        <ion-input type="text" formControlName="firstName"></ion-input>
                    </ion-item>
                    <div *ngIf="register?.controls['firstName']?.errors?.required && register?.controls['firstName'].touched">
                        <p float-right class="error">* This Field is required</p>
                    </div>
                </ion-col>

                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>Last Name</ion-label>
                        <ion-input type="text" formControlName="LastName"></ion-input>
                    </ion-item>
                    <div *ngIf="register?.controls['LastName']?.errors?.required && register?.controls['LastName'].touched">
                        <p class="error" float-right>* This Field is required</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label floating>Mobile</ion-label>
                    <ion-input type="tel" formControlName="mobile" disabled=true style="color:black;"></ion-input>
                </ion-item>
                <div *ngIf="register?.controls['mobile']?.errors?.required && register?.controls['mobile'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>
            <ion-row>

                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div *ngIf="register?.controls['email']?.errors?.required && register?.controls['email'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>

            <ion-row>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div *ngIf="register?.controls['password']?.errors?.required && register?.controls['password'].touched">
                    <p class="error" float-right>* This Field is required</p>
                </div>
            </ion-row>

        </ion-grid>

        <ion-footer>
            <!-- [disabled]="!register.valid" -->

            <ion-fab right bottom margin-right>
                <button ion-fab color="dark" type="submit"><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-fab>
        </ion-footer>

        <!--  -->
    </form>


</ion-content>