page-payment {
    .black-bg {
        background: #000000;
    }
    .bottom-shadow {
        // -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid #e2e2e2;
        box-shadow: 0 3px 9px -6px black;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        padding: 0;
        width: 100%;
    }
    .request-controls {
        text-align: center;
        background: #fff //linear-gradient(transparent, map-get($colors , light ));
    }
    .text-input::-moz-placeholder {
        color: red;
    }
    .text-input:-ms-input-placeholder {
        color: red;
    }
    .text-input::-webkit-input-placeholder {
        color: red;
    }
    .error {
        color: tomato;
        font-size: 1.2rem;
    }
    .round-img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .item-inner {
        border: 0 !important;
    }
    .payment-label {
        font-weight: bold;
        font-size: 1.3em;
    }
    .payment-grid {
        border: 1px solid #000;
    }
    .payment-cost {
        color: blue;
    }
}